h4 {
  text-align: center;
}

h5 {
  text-align: center;
}

p {
  text-align: center;
  color: grey;
}

.card {
  border-radius: 8px;
  background-color: white;
}

.card-body {
  a {
  text-decoration: none;
  }
}
