.footer{
    text-align: center;
    background-color: white;
    height: 150px;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}
.icons-container {
  padding-top: 0px ;
}
.footer-icon {
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}
