.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

a.nav-link {
  color: white;
  text-align: center;
}

.nav {
  text-align: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  border-radius: 50%;
}
