.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

a.nav-link {
  color: white;
  text-align: center;
  text-decoration: none;
}

.nav :hover {
  color: white;
  opacity: 0.8;
}

.navbar-toggler {
  background-color: #7B2C42;
  border: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  border-radius: 50%;
}
